---
import { caseStudies } from '../data/site';

type Props = {
  exclude?: Array<(typeof caseStudies)[number]['slug']>;
};

const { exclude = [] } = Astro.props;
const items = caseStudies.filter((study) => !exclude.includes(study.slug));
---

<section class="work">
  <div class="wrap container-fluid">
    <div class="row stretch">
      {items.map((study) => (
        <div class={`col-xs-12 col-sm-6 ${study.slug === 'freelance' ? '' : ''} ${study.slug === 'stage-ten' ? 'stage10' : study.slug} box case-study`.trim()}>
          <h3>
            <a href={study.href}>{study.title}</a>
          </h3>
          <p>{study.summary}</p>
          <picture>
            {study.sources.map((source) => (
              <source srcset={source.srcset} media={source.media} />
            ))}
            <img srcset={study.imgSrcset} alt={study.imageAlt} />
          </picture>
        </div>
      ))}
    </div>
  </div>
</section>
